.head__button{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: var(--main-light);
  background-color: var(--main-color);
  font-size: 16;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
 height: 50px;
width: 200px;
left: 700px;
top: 430px;
border-radius: 4px;
border: none;
 transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition: background-color 250ms;
}
.head__buttonl{
  display: block;
  padding-top: 45px;
align-items: center;
 text-align: center;
 justify-content: center;

&:hover,
&:focus {
  color: var(--main-light);
  background-color: var(--main-color);
}
}
.projects__button {
  font-family: 'Roboto',sans-serif ;
  color: var(--corporation-color);
  background-color: var(--team-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-radius: 4px;
    padding: 6px 22px;
    border: none;
  transition: color 250ms;
 transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
}
.modal__button{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-color: var(--main-light);
    background-position: center;
    border: 1px solid var(--modal-border);
    border-radius: 50%;
    cursor: pointer;
     top: 8px;
    left: 490px;
    transition: fill var(--btn-sh-duration) var(--timing-function);
&:hover,
&:focus,
&:active{
  cursor: pointer;
  fill: var(--main-color);
}
}
.checkbox__button{
  display: block;
    padding: 10px 55px;
    margin: 0 auto;
    width: 200px;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;
    color: var(--main-light);
    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    transition: background-color var(--btn-sh-duration) var(--timing-function);
&:hover,
&:focus{
  background-color: rgb(24, 140, 232);
}
}
.line__button {
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    letter-spacing: 0.06em;
    color: var(--main-light);
    background-color: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}