.social__list{
  display: flex;
margin-top: 16px;
padding: 0px;
color: var(--icon-color);
justify-content: center;
}
.social__item{
 fill: var(--icon-color);
 display: list-item;
 margin-right: 10px;
 
}
.social__list li{
  margin-right: 10px;
  
}
.social__link{
  display: flex;
  fill: var(--icon-color);
  cursor: pointer;
  padding: 12px;
  background-color: var(--main-light);
  border-bottom-left-radius: 50%;
border-bottom-right-radius: 50%;
border-top-left-radius: 50%;
border-top-right-radius: 50%;
transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition: background-color 250ms;



&:hover,
&:focus{
  background-color: var(--main-color);
}
}
.socials__list{
display: flex;
    align-items: baseline;
    margin: 0px;
    padding: 0px;
}
.socials__item{
margin-right: 10px;
}
.socials__link{
display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-light);
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background-color: var(--icon-bg);
    transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition: background-color 250ms;
&:hover,
&:focus{
  background-color: var(--main-color);
}
}
.socials{
  margin-left: 70px;
}


