.clients{
display: flex;
padding-top: 100px;
padding-bottom: 94px;
  }
 
  .clients__list{
    display: flex;
    margin: 0px;
    padding: 0px;
  }
  
  
   
  
  .clients__item{
    display: flex;
    border-radius: 4px;
    fill: var(--icon-color);
    border: 1px solid var(--icon-color);
    justify-content: center;
    margin-right: 30px;
    &:last-child{
    margin-right: 0px;
  }
  &:hover,
  &:focus{
    border-color: var(--main-color);
  }
    
  }
  .clients__link{
    width: 170px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition: background-color 250ms;
  }
  
  