.nav-list{
  display: inline-flex;
  align-items: center;
 margin: 0 0 0 0px;
  padding-left: 0px;
  }
.nav-list li{
  display: block;
  margin-right: 52px;
  }
.nav__item{
  position: relative;
&:active{
  color: var(--main-color);
}
}
.nav__link{
  color: var(--corporation-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms;
 position: relative;
    transition-duration: var(--btn-sh-duration);
    transition-timing-function: var(--timing-function);
&:active,
  &:hover,
&:focus{
  color: var(--main-color);
}
}


.nav__link-active::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--main-color);
  bottom: 0px;
  left: 0px;
}