.portfolio{
  padding-top: 95px;
  padding-bottom: 94px;
}
.portfolio__list{
  display:flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-li));
  margin-top: calc(-1 * var(--margin-left-li));
  justify-content: space-between;
  padding: 0px;
}
.portfolio__list .li{
  flex-basis: calc(100% / 3 - var(--margin-left-li));
  margin-left: var(--margin-left-li);
  margin-top: var(--margin-left-li);
}


.portfolio__link{
  text-decoration: none;
  color: inherit;
  &:hover,
&:focus{
  display: flex;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}
.item{
  margin-left: 30px;
}
.item1{
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.item2{
  margin-top: 30px;
  margin-bottom: 30px;
}
.overlay__text{
margin: 0px;
}
.overlay{
position: absolute;
opacity: 0;
    top: 0;
    left: 0;
    transform: translateY(100%);
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--main-light);
    background-color: var(--backgraund-portfolio);
    transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
    }
     .card:hover .overlay, .card:focus .overlay{
      opacity: 1;
      transform: translateY(0);
      transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
    }
    .card:hover:focus-visible .overlay{
    outline: -webkit-focus-ring-color auto 1px;
}