.scroll{
  display:block;
  padding-top: 97px;
  padding-bottom: 101px;
}
.scroll__list{
  display: inline-flex;
  width: min-content;
  padding-left: 0px;
  padding-right: 0px;
margin: 0px;
  }

  .scroll__item{
    background-color: var(--team-background);
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
display: block;
color: var(--scroll-text);
margin-bottom: 30px;
height: 120px;
display: flex;
align-items: center;
justify-content: center;
  }
   
.scroll__list li{
  width: 270px;
  margin-right: 33px;
  &:last-child{
  padding-right: 0px;
}
}

.scroll__text {
  font-family: 'Roboto',sans-serif ;
  color: var(--scroll-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}